/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}

/* li{
    list-style-type: none;
} */

/* stili header */
header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 500;
    background-color: white;
}

header li{
        list-style-type: none;
}

#container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-header{
    flex-basis: 30%;
}

.col-header.right{
    flex-basis: 40%;
}

#logo{
    padding-left: 10px;
}

header ul{
    display: flex;
    justify-content: space-around;
}

ul a {
    color: black;
}

.button{
    background-color: #0061ff;
    text-align: center;
    padding: 10px;
    color: white;
}

/* stili main */
main{
    padding: 70px 0;
}

.main{
    width: 100%;
    /* DEBUG */
    min-height: 400px;
    padding: 100px 0 0 0;
}

.container{
    width: 60%;
    margin: 0 auto;
    /* DEBUG */
    min-height: 400px;
}

.container.flex{
    display: flex;
    justify-content: space-between;
}

.main-title{
    width: 60%;
    margin: 0 auto;
    font-size: 40px;
    /* DEBUG */
    min-height: 80px;
    /* background-color: bisque; */
}

/* section jumbotron */
.main.jumbotron-section{
    padding-top: 50px;
    background-color: #b4d0e7;
    min-height: calc(100vh - 70px);
}

.container.jumbotron{
    width: 70%;
}

h1{
    width: 60%;
    margin: 0 0 0 15%;
    font-weight: 800;
    font-size: 60px;
}

.text-jumbotron{
    flex-basis: 35%;
}

.text-jumbotron p {
    padding-top: 30px;
}

.text-jumbotron .button-container{
    margin-top: 30px;
    width: 250px;
}

.text-jumbotron span{
    padding-top: 30px;
    display: inline-block;
}

.arrow{
    padding-top: 50px;
    font-size: 40px;
    color: black;
}

.img-jumbotron{
    flex-basis: 60%;
}

.image{
    width: 100%;
    padding-top: 30px;
}


/* section plan */
.container.plans{
    flex-wrap: wrap;
    font-size: 15px;
}

.col-plan{
    flex-basis: calc((100% / 3) - 20px);
    margin: 10px 0;
    border: 1px solid #b3b5b1;
}

.col-plan.col-large{
   flex-basis: 100%;
}

#flex-col{
    display: flex;
    justify-content: space-between;
}

.col-int.right{
    flex-basis: 30%;
    padding: 20px;
}

.col-int.left{
    flex-basis: 70%;
    padding-left: 20px;
}

#description-large h3{
    margin-bottom: 15px;
}

#description-large .price-descrition{
    margin-bottom: 30px;
}

#description-large p{
    padding-bottom: 20px;
}

#input-container{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
}

input{
    margin-right: 5px;
}

.input{
    padding-right: 30px;
}

.top-col{
    border-bottom: 1px solid #b3b5b1;
    text-align: center;
    padding: 5px 0;
}

h3{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.col-description, .buy-container, h5{
    padding: 0 10px 0 20px;
    line-height: 30px;
}

.user::marker{
    content: "\f007";
    font-family: 'Font Awesome 6 Free';
    padding-left: 20px;
}

.folder::marker{
    content: "\f07b";
    font-family: 'Font Awesome 6 Free';
}

.share::marker{
    content: "\f1e0";
    font-family: 'Font Awesome 6 Free';
}

.check::marker{
    content: "\f00c";
    font-family: 'Font Awesome 6 Free';
}

.month{
    font-size: 12px;
    color: gray;
}

.functions{
    margin-top: 30px;
    padding: 0 10px 0 20px;
}

.functions li{
    margin-bottom: 15px;
    padding-left: 5px;
    margin-left: 20px;
}

.button.try{
    margin: 30px 20px;
    color: white;
}

.buy{
    text-decoration: underline;
    color: blue;
}

hr{
    width: 30%;
    margin: 30px 10px;
    color: #b3b5b1;
}

h5{
    font-size: 17px;
    margin-bottom: 15px;
}

.in-plan{
    padding: 0 10px 0 20px;
}

.in-plan li{
    margin-bottom: 15px;
    padding-left: 5px;
    margin-left: 20px;
}

/* section partners*/
.container.partners{
    align-items: center;
    margin-top: 40px;
}

.col-partners.img-partners{
    flex-basis: 60%;
}

.col-partners.text-partners{
    flex-basis: 35%;
}

.img-partners img{
    width: 100%;
}

.text-partners p{
    padding-top: 15px;
}

.fa-check{
    color: #0061ff;
}

.icons{
    padding-right: 5px;
}

.button.find{
    background-color: white;
    border: 1px solid black;
    width: 170px;
    margin-top: 30px;
}

.find{
    color: black;
}

/* section operations */
.container.operations{
    flex-wrap: wrap;
}

.col-operations{
    flex-basis: calc((100% / 3) - 10px);
    margin: 30px 0;
}

.col-operations img{
    width: 100%;
}

/* section team */
.container.team{
    width: 100%;
    /* DEBUG */
    background-color: white;
}

.main-title.team{
    width: 40%;
    margin: 0 15%;
}

#title-team{
    margin-bottom: 100px;
}

#mix-of-teams{
    /* DEBUG */
    background-color: brown;
    min-height: 300px;
}

#bring-dropbox{
    /* DEBUG */
    background-color: greenyellow;
    min-height: 200px;
}


/* section faq */
.question{
    /* DEBUG */
    min-height: 100px;
    background-color: aquamarine;
    margin: 10px 0;
}

/* stili footer */
footer{
    width: 100%;
    background-color: black;
    color: white;
    /* DEBUG */
    min-height: 200px;
}

.container.footer-top{
    width: 80%;
    /* DEBUG */
    background-color: green;
    min-height: 200px;
}

.container.footer-bottom{
    width: 80%;
    /* DEBUG */
    background-color: yellow;
    min-height: 50px;
}
.col-footer{
    flex-basis: calc((100% / 5) - 20px);
    margin: 20px 0;
    /* DEBUG */
    background-color: palevioletred;
}