/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}



/* stili header */
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 500;
    background-color: white;
}

header li{
        list-style-type: none;
}

#container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-header{
    flex-basis: 30%;
}

.col-header.right{
    flex-basis: 40%;
}

#logo{
    padding-left: 10px;
}

header ul{
    display: flex;
    justify-content: space-around;
}

ul a {
    color: black;
}

.button{
    background-color: #0061ff;
    text-align: center;
    padding: 10px;
    color: white;
}



/* stili main */
main{
    padding: 80px 0 0 0;
}

.main{
    width: 100%;
    padding: 100px 0 0 0;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.container.flex{
    display: flex;
    justify-content: space-between;
}

.main-title{
    width: 60%;
    margin: 40px auto;
    font-size: 40px;
}



/* section jumbotron */
.main.jumbotron-section{
    padding-top: 50px;
    background-color: #b4d0e7;
    min-height: calc(100vh - 80px);
}

.container.jumbotron{
    width: 70%;
}

h1{
    width: 60%;
    margin: 0 0 0 15%;
    font-weight: 800;
    font-size: 60px;
}

.text-jumbotron{
    flex-basis: 35%;
}

.text-jumbotron p {
    padding-top: 30px;
}

.text-jumbotron .button-container{
    margin-top: 30px;
    width: 250px;
}

.text-jumbotron span{
    padding-top: 30px;
    display: inline-block;
}

.arrow{
    padding-top: 50px;
    font-size: 40px;
    color: black;
}

.img-jumbotron{
    flex-basis: 60%;
}

.image{
    width: 57%;
    padding-top: 30px;
    position: absolute;
    bottom: -55px;
}


/* section plan */
.container.plans{
    flex-wrap: wrap;
    font-size: 15px;
}

.col-plan{
    flex-basis: calc((100% / 3) - 20px);
    margin: 10px 0;
    border: 1px solid #b3b5b1;
}

.col-plan.col-large{
   flex-basis: 100%;
}

#flex-col{
    display: flex;
    justify-content: space-between;
}

.col-int.right{
    flex-basis: 30%;
    padding: 20px;
}

.col-int.left{
    flex-basis: 70%;
    padding-left: 20px;
}

#description-large h3{
    margin-bottom: 15px;
}

#description-large .price-descrition{
    margin-bottom: 30px;
}

#description-large p{
    padding-bottom: 20px;
}

#input-container{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
}

input{
    margin-right: 5px;
}

.input{
    padding-right: 30px;
}

.top-col{
    border-bottom: 1px solid #b3b5b1;
    text-align: center;
    padding: 5px 0;
}

h3{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.col-description, .buy-container, h5{
    padding: 0 10px 0 20px;
    line-height: 30px;
}

.user::marker{
    content: "\f007";
    font-family: 'Font Awesome 6 Free';
    padding-left: 20px;
}

.folder::marker{
    content: "\f07b";
    font-family: 'Font Awesome 6 Free';
}

.share::marker{
    content: "\f14d";
    font-family: 'Font Awesome 6 Free';
}

.check::marker{
    content: "\f14a";
    font-family: 'Font Awesome 6 Free';
    color: #0061ff;
}

.month{
    font-size: 12px;
    color: gray;
}

.functions{
    margin-top: 30px;
    padding: 0 10px 0 20px;
}

.functions li{
    margin-bottom: 15px;
    padding-left: 5px;
    margin-left: 20px;
}

.button.try{
    margin: 30px 20px;
    color: white;
}

.buy{
    text-decoration: underline;
    color: blue;
}

hr{
    width: 30%;
    margin: 30px 10px;
    color: #b3b5b1;
}

h5{
    font-size: 17px;
    margin-bottom: 15px;
}

.in-plan{
    padding: 0 10px 0 20px;
}

.in-plan li{
    margin-bottom: 15px;
    padding-left: 5px;
    margin-left: 20px;
}


/* section partners*/
.container.partners{
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.col-partners.img-partners{
    flex-basis: 60%;
}

.col-partners.text-partners{
    flex-basis: 35%;
}

.img-partners img{
    width: 100%;
}

.text-partners p{
    padding-top: 15px;
}

.icons{
    padding-right: 5px;
}

.button.find{
    background-color: white;
    border: 1px solid black;
    width: 170px;
    margin-top: 30px;
}

.find{
    color: black;
}



/* section operations */
.container.operations{
    flex-wrap: wrap;
}

.col-operations{
    flex-basis: calc((100% / 3) - 10px);
    margin: 30px 0;
}

.col-operations img{
    width: 100%;
}



/* section team */
.container.team{
    width: 100%;
}

.main-title.team{
    width: 50%;
    margin: 50px 20% 0;
}

#title-team{
    margin-bottom: 100px;
}

#title-team span{
    margin-left: 20%;
    display: inline-block;
    margin-top: 50px;
}

#title-team a{
    text-decoration: underline;
    color: blue;
}

#mix-of-teams{
    display: flex;
}

.col-team.brand{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
}

.brand-logo{
    flex-basis: 50%;
    position: relative;
   /* DEBUG */
    height: 220.5px;
}

.brand-logo.clear img{
    min-height: 100px;
}

.brand-logo.bicycle img{
    filter: invert(100%);
}

.brand-logo.uf img{
    filter: invert(100%);
}

.img-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand-logo img{
    width: 100%;
}

.designit{
    background-color: #a2d39b;
}

.asu{
    background-color: #61082b;
}

.uf{
    background-color: #0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.bicycle{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonely{
    background-color: #0d2481;
}

.clear{
    background-color: #ffd830;
}

.col-team.descr{
    flex-basis: 40%;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.top-descr img{
    width: 65%;
    padding: 40px 40px 20px 40px;
}

#border{
    width: 20%;
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.366);
}

.bottom-descr{
    padding: 20px 40px;
}

#author{
    display: inline-block;
    margin-top: 30px;
}

#bring-dropbox{
    background-color: #b4d0e7;
    padding: 100px;
    display: flex;
}

#title-bring{
    width: 40%;
    margin: 0 0 0 15%;
    font-size: 40px;
}

.button-container.bring{
    margin-top: 20px;
    margin-left: 180px;
}

.button.bring{
    background-color: white;
    color: black;
}



/* section faq */
.question{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.question.one{
    border-top: 1px solid black;
}

.text-question{
    padding: 40px 200px 40px 0;
    font-weight: bold;
}

.answer, .fa-chevron-up{
    display: none;
}

.question-container:hover .answer{
    display: block;
    padding: 40px 0;
}

.question-container:hover .fa-chevron-up{
    display: block;
}

.question-container:hover .fa-chevron-down{
    display: none;
}


/* stili footer */
footer{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    margin-top: 150px;
}

.container.footer-top{
    width: 80%;
    padding: 40px;
}

.container.footer-bottom{
    width: 7%;
    margin: 0 12%;
    border-top: 1px solid white;
    padding: 40px 0 40px 0;
}

.col-footer{
    flex-basis: calc((100% / 5) - 20px);
    margin: 20px 0;
}

.col-footer li{
    list-style-type: none;
    line-height: 30px;
}

.col-footer a{
    color: white;
}

#choose{
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 3px;
    margin-top: 20px;
}
